<ion-header>
  <ion-navbar color="my-dark-blue">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-item-group>
    <ion-item-divider>Account</ion-item-divider>
    <ion-item>
      <ion-label stacked>Address</ion-label>
      <ion-input type="text" value="{{ walletAddress }}" readonly></ion-input>
    </ion-item>  
    <ion-item *ngIf="walletBalance == null">
      <ion-spinner></ion-spinner>
    </ion-item>
    <ion-item *ngIf="walletBalance != null">
      <ion-label stacked>Balance</ion-label>
      <ion-input type="text" value="{{ walletBalance }} ETH" readonly></ion-input>
    </ion-item>
  </ion-item-group>
  <ion-item-group>
    <ion-item-divider>Transactions history</ion-item-divider>
    <ion-item *ngIf="transactions == null">
      <ion-spinner></ion-spinner>
    </ion-item>
    <ion-item *ngFor="let transaction of transactions" (tap)="viewTxDetails(transaction)">
      <ion-badge color="secondary" *ngIf="walletAddress !== transaction.from">IN</ion-badge>
      <ion-badge color="danger" *ngIf="walletAddress === transaction.from">OUT</ion-badge>
      {{ transaction.value }} ETH
      <p>Tap to view details</p>
    </ion-item>
  </ion-item-group>
</ion-content>
