page-price-chart {
    ion-card-header {
        padding: 10px;
        background-color: #13194e;
        color: white;
    }
    ion-card-content {
        padding: 10px;
        background-color: #13194e;
        color: white;
    }
}
